In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import os

# checking if the dataset is present the working directory
os.listdir()

#reading the dataset
data = pd.read_csv("Salary_Data.csv")
df = pd.DataFrame(data)

df.head()

# to separate the dependent column and independent column
X = df.drop('Salary',axis=1)
y = df.Salary

# Model Building
model = LinearRegression()
model.fit(X,y)

plt.scatter(X,y)
plt.plot(X,model.predict(X))

#This is the best fit line. 
#Now lets predict the new values

plt.scatter(X,y)
plt.plot(X,model.predict(X))

#predictig the value
x = model.predict([[10.3]])
x

#As you can see that if you put the YearExperience 10.3 the predicted value is 123126.81210966 which is close to actual value

df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0